body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgb(187, 170, 194) , #85529c);
    color: #333;
    text-align: center;
}

.hero-section {
    padding: 50px 20px;
    max-width: 690px;
    width: 100%;
}

.typing {
    font-size: 4em;
    white-space: nowrap; 
    overflow: hidden;    
    width: 2.8em;    
    box-shadow: rgb(255, 255, 255);      
      text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.4); 
    animation:
        typing 2s steps(18, end) forwards, 
        blink-caret 1s step-end infinite; 
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
span {
    color: #9c19da;
    margin-bottom: 30px;
    
}
.subheads{
    display: flex;
    margin-bottom: 30px;
}
p {
    font-size: 1.5em;
    color: white;
    margin-bottom: 30px;
}


.get-started-button {
    background-color: #9c19da;
    
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;

    
}


.get-started-button:hover {
    background-color: #0056b3;
}

